In [113]:
from IPython import display
import requests
import json
from sodapy import Socrata
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
import warnings
import time
warnings.filterwarnings("ignore")
pd.set_option('display.max_colwidth',100)
pd.set_option('display.max_columns',50)

from sklearn.preprocessing import OneHotEncoder

# Introduction

According to the CDC, more than 48 million Americans per year become sick from food, and an estimated 75% of the outbreaks came from food prepared by caterers, delis, and restaurants. In most cities, health inspections are generally random, which can increase time spent on spot checks at clean restaurants that have been following the rules closely — and missed opportunities to improve health and hygiene at places with more pressing food safety issues.

The goal for this project is to leverage public citizen generated data from social media to narrow the search for critical health and safety violations in New York City. As the City of New York manages  an open data portal, everyone can access historical hygiene inspections and violation records. By combine these two data source this project aims to determine which words, phrases, ratings, and patterns among restaurants lead to critical health and safety violations. This model can assist city health inspectors do their job better by prioritizing the kitchens most likely to be in violation of code.

# Obtain

This project requires data pulled from two different sources, the City of New York and Yelp. To obtain the data we will call the API keys.

## NYC Open Data Portal

In [114]:
doh = pd.read_csv('data/DOHMH_New_York_City_Restaurant_Inspection_Results.csv')
doh

,CAMIS,DBA,BORO,BUILDING,STREET,ZIPCODE,PHONE,CUISINE DESCRIPTION,INSPECTION DATE,ACTION,VIOLATION CODE,VIOLATION DESCRIPTION,CRITICAL FLAG,SCORE,GRADE,GRADE DATE,RECORD DATE,INSPECTION TYPE,Latitude,Longitude,Community Board,Council District,Census Tract,BIN,BBL,NTA
0,50008319,POULETTE,Manhattan,790,9 AVENUE,10019.0,2129569488,Chicken,01/28/2019,Violations were cited in the following area(s).,04D,"Food worker does not wash hands thoroughly after using the toilet, coughing, sneezing, smoking, ...",Critical,22,NaN,NaN,03/24/2022,Cycle Inspection / Initial Inspection,40.765040,-73.987795,104.0,3.0,13300.0,1025235.0,1.010430e+09,MN15
1,41678734,TINY'S DINER,Bronx,3603,RIVERDALE AVENUE,10463.0,7187087600,American,09/23/2019,Violations were cited in the following area(s).,04M,Live roaches present in facility's food and/or non-food areas.,Critical,24,NaN,NaN,03/24/2022,Cycle Inspection / Initial Inspection,40.886691,-73.907056,208.0,11.0,29500.0,2084186.0,2.057960e+09,BX29
2,40795021,TAO RESTAURANT,Manhattan,42,EAST 58 STREET,10022.0,2128882288,Asian/Asian Fusion,03/11/2020,Violations were cited in the following area(s).,10F,Non-food contact surface improperly constructed. Unacceptable material used. Non-food contact su...,Not Critical,9,NaN,NaN,03/24/2022,Cycle Inspection / Initial Inspection,40.762786,-73.971486,105.0,4.0,11202.0,1036073.0,1.012930e+09,MN17
3,40795021,TAO RESTAURANT,Manhattan,42,EAST 58 STREET,10022.0,2128882288,Asian/Asian Fusion,03/11/2020,Violations were cited in the following area(s).,10F,Non-food contact surface improperly constructed. Unacceptable material used. Non-food contact su...,Not Critical,9,NaN,NaN,03/24/2022,Cycle Inspection / Initial Inspection,40.762786,-73.971486,105.0,4.0,11202.0,1036073.0,1.012930e+09,MN17
4,40538234,"DUNKIN',' BASKIN ROBBINS",Queens,9925,HORACE HARDING EXPRESSWAY,11368.0,7182719222,Donuts,07/29/2021,Violations were cited in the following area(s).,06E,"Sanitized equipment or utensil, including in-use food dispensing utensil, improperly used or sto...",Critical,10,A,07/29/2021,03/24/2022,Cycle Inspection / Initial Inspection,40.736185,-73.858052,404.0,21.0,43702.0,4047915.0,4.019480e+09,QN25
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
186222,41556790,FIVE GUYS FAMOUS BURGERS AND FRIES,Manhattan,2847,BROADFWAY,NaN,2126787701,Hamburgers,03/01/2019,Violations were cited in the following area(s).,10F,Non-food contact surface improperly constructed. Unacceptable material used. Non-food contact su...,Not Critical,3,A,03/01/2019,03/24/2022,Cycle Inspection / Initial Inspection,0.000000,0.000000,NaN,NaN,NaN,NaN,1.000000e+00,NaN
186223,50032876,TANNER SMITH'S,Manhattan,204,WEST 55 STREET,10019.0,9175172283,American,06/07/2019,Violations were cited in the following area(s).,08A,Facility not vermin proof. Harborage or conditions conducive to attracting vermin to the premise...,Not Critical,12,A,06/07/2019,03/24/2022,Cycle Inspection / Initial Inspection,40.764364,-73.981362,105.0,4.0,13700.0,1024857.0,1.010260e+09,MN17
186224,50003842,T- 45,Manhattan,135,WEST 45 STREET,10036.0,6466403775,American,07/26/2018,Violations were cited in the following area(s).,10B,Plumbing not properly installed or maintained; anti-siphonage or backflow prevention device not ...,Not Critical,49,NaN,NaN,03/24/2022,Cycle Inspection / Initial Inspection,40.757244,-73.983815,105.0,4.0,11900.0,1089796.0,1.009980e+09,MN17
186225,41640824,RICURAS ECUADORIAN BAKERY,Bronx,1576,WATSON AVENUE,10472.0,7184508363,Spanish,07/20/2018,Violations were cited in the following area(s).,06F,Wiping cloths soiled or not stored in sanitizing solution.,Critical,12,A,07/20/2018,03/24/2022,Cycle Inspection / Initial Inspection,40.826352,-73.876066,209.0,18.0,5001.0,2023533.0,2.037160e+09,BX55
186226,41450971,GIOVANNI'S RESTAURANT,Bronx,3209,WESTCHESTER AVENUE,10461.0,7188924340,Pizza,06/21/2017,Violations were cited in the following area(s).,06D,"Food contact surface not properly washed, rinsed and sanitized after each use and following any ...",Critical,16,NaN,NaN,03/24/2022,Cycle Inspection / Initial Inspection,40.851761,-73.829569,210.0,13.0,30000.0,2047655.0,2.042450e+09,BX10

In [115]:
doh.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 186227 entries, 0 to 186226
Data columns (total 26 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   CAMIS                  186227 non-null  int64
 1   DBA                    186200 non-null  object
 2   BORO                   186227 non-null  object
 3   BUILDING               185799 non-null  object
 4   STREET                 186227 non-null  object
 5   ZIPCODE                183146 non-null  float64
 6   PHONE                  186214 non-null  object
 7   CUISINE DESCRIPTION    186226 non-null  object
 8   INSPECTION DATE        186227 non-null  object
 9   ACTION                 186227 non-null  object
 10  VIOLATION CODE         185413 non-null  object
 11  VIOLATION DESCRIPTION  185863 non-null  object
 12  CRITICAL FLAG          186227 non-null  object
 13  SCORE                  186227 non-null  int64
 14  GRADE                  67933 non-null   object
 15  GRADE DATE             67238 non-null   object
 16  RECORD DATE            186227 non-null  object
 17  INSPECTION TYPE        186227 non-null  object
 18  Latitude               186069 non-null  float64
 19  Longitude              186069 non-null  float64
 20  Community Board        182624 non-null  float64
 21  Council District       182629 non-null  float64
 22  Census Tract           182629 non-null  float64
 23  BIN                    181803 non-null  float64
 24  BBL                    185705 non-null  float64
 25  NTA                    182624 non-null  object
dtypes: float64(8), int64(2), object(16)
memory usage: 36.9+ MB

In [123]:
doh.dropna(subset=['PHONE'],inplace=True)

In [124]:
doh.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 186214 entries, 0 to 186226
Data columns (total 26 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   CAMIS                  186214 non-null  int64
 1   DBA                    186187 non-null  object
 2   BORO                   186214 non-null  object
 3   BUILDING               185786 non-null  object
 4   STREET                 186214 non-null  object
 5   ZIPCODE                183133 non-null  float64
 6   PHONE                  186214 non-null  object
 7   CUISINE DESCRIPTION    186213 non-null  object
 8   INSPECTION DATE        186214 non-null  object
 9   ACTION                 186214 non-null  object
 10  VIOLATION CODE         185400 non-null  object
 11  VIOLATION DESCRIPTION  185850 non-null  object
 12  CRITICAL FLAG          186214 non-null  object
 13  SCORE                  186214 non-null  int64
 14  GRADE                  67924 non-null   object
 15  GRADE DATE             67229 non-null   object
 16  RECORD DATE            186214 non-null  object
 17  INSPECTION TYPE        186214 non-null  object
 18  Latitude               186056 non-null  float64
 19  Longitude              186056 non-null  float64
 20  Community Board        182611 non-null  float64
 21  Council District       182616 non-null  float64
 22  Census Tract           182616 non-null  float64
 23  BIN                    181790 non-null  float64
 24  BBL                    185692 non-null  float64
 25  NTA                    182611 non-null  object
dtypes: float64(8), int64(2), object(16)
memory usage: 38.4+ MB

In [125]:
# How many unique restaurants are in this dataset?
doh['CAMIS'].nunique()

19790

Health code violations found during an inspections carries a point value, and a restaurant’s score corresponds to a letter grade. A lower point score, leads to a better letter grade:

"A" grade: 0 to 13 points for sanitary violations
"B" grade: 14 to 27 points for sanitary violations
"C" grade: 28 or more points for sanitary violations

In [126]:
doh['A'] = doh['SCORE'] < 14
doh['B'] = (doh['SCORE'] > 13) & (doh['SCORE'] < 28)
doh['C'] = doh['SCORE'] > 27

In [127]:
doh

,CAMIS,DBA,BORO,BUILDING,STREET,ZIPCODE,PHONE,CUISINE DESCRIPTION,INSPECTION DATE,ACTION,VIOLATION CODE,VIOLATION DESCRIPTION,CRITICAL FLAG,SCORE,GRADE,GRADE DATE,RECORD DATE,INSPECTION TYPE,Latitude,Longitude,Community Board,Council District,Census Tract,BIN,BBL,NTA,A,B,C
0,50008319,POULETTE,Manhattan,790,9 AVENUE,10019.0,2129569488,Chicken,01/28/2019,Violations were cited in the following area(s).,04D,"Food worker does not wash hands thoroughly after using the toilet, coughing, sneezing, smoking, ...",Critical,22,NaN,NaN,03/24/2022,Cycle Inspection / Initial Inspection,40.765040,-73.987795,104.0,3.0,13300.0,1025235.0,1.010430e+09,MN15,False,True,False
1,41678734,TINY'S DINER,Bronx,3603,RIVERDALE AVENUE,10463.0,7187087600,American,09/23/2019,Violations were cited in the following area(s).,04M,Live roaches present in facility's food and/or non-food areas.,Critical,24,NaN,NaN,03/24/2022,Cycle Inspection / Initial Inspection,40.886691,-73.907056,208.0,11.0,29500.0,2084186.0,2.057960e+09,BX29,False,True,False
2,40795021,TAO RESTAURANT,Manhattan,42,EAST 58 STREET,10022.0,2128882288,Asian/Asian Fusion,03/11/2020,Violations were cited in the following area(s).,10F,Non-food contact surface improperly constructed. Unacceptable material used. Non-food contact su...,Not Critical,9,NaN,NaN,03/24/2022,Cycle Inspection / Initial Inspection,40.762786,-73.971486,105.0,4.0,11202.0,1036073.0,1.012930e+09,MN17,True,False,False
3,40795021,TAO RESTAURANT,Manhattan,42,EAST 58 STREET,10022.0,2128882288,Asian/Asian Fusion,03/11/2020,Violations were cited in the following area(s).,10F,Non-food contact surface improperly constructed. Unacceptable material used. Non-food contact su...,Not Critical,9,NaN,NaN,03/24/2022,Cycle Inspection / Initial Inspection,40.762786,-73.971486,105.0,4.0,11202.0,1036073.0,1.012930e+09,MN17,True,False,False
4,40538234,"DUNKIN',' BASKIN ROBBINS",Queens,9925,HORACE HARDING EXPRESSWAY,11368.0,7182719222,Donuts,07/29/2021,Violations were cited in the following area(s).,06E,"Sanitized equipment or utensil, including in-use food dispensing utensil, improperly used or sto...",Critical,10,A,07/29/2021,03/24/2022,Cycle Inspection / Initial Inspection,40.736185,-73.858052,404.0,21.0,43702.0,4047915.0,4.019480e+09,QN25,True,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
186222,41556790,FIVE GUYS FAMOUS BURGERS AND FRIES,Manhattan,2847,BROADFWAY,NaN,2126787701,Hamburgers,03/01/2019,Violations were cited in the following area(s).,10F,Non-food contact surface improperly constructed. Unacceptable material used. Non-food contact su...,Not Critical,3,A,03/01/2019,03/24/2022,Cycle Inspection / Initial Inspection,0.000000,0.000000,NaN,NaN,NaN,NaN,1.000000e+00,NaN,True,False,False
186223,50032876,TANNER SMITH'S,Manhattan,204,WEST 55 STREET,10019.0,9175172283,American,06/07/2019,Violations were cited in the following area(s).,08A,Facility not vermin proof. Harborage or conditions conducive to attracting vermin to the premise...,Not Critical,12,A,06/07/2019,03/24/2022,Cycle Inspection / Initial Inspection,40.764364,-73.981362,105.0,4.0,13700.0,1024857.0,1.010260e+09,MN17,True,False,False
186224,50003842,T- 45,Manhattan,135,WEST 45 STREET,10036.0,6466403775,American,07/26/2018,Violations were cited in the following area(s).,10B,Plumbing not properly installed or maintained; anti-siphonage or backflow prevention device not ...,Not Critical,49,NaN,NaN,03/24/2022,Cycle Inspection / Initial Inspection,40.757244,-73.983815,105.0,4.0,11900.0,1089796.0,1.009980e+09,MN17,False,False,True
186225,41640824,RICURAS ECUADORIAN BAKERY,Bronx,1576,WATSON AVENUE,10472.0,7184508363,Spanish,07/20/2018,Violations were cited in the following area(s).,06F,Wiping cloths soiled or not stored in sanitizing solution.,Critical,12,A,07/20/2018,03/24/2022,Cycle Inspection / Initial Inspection,40.826352,-73.876066,209.0,18.0,5001.0,2023533.0,2.037160e+09,BX55,True,False,False
186226,41450971,GIOVANNI'S RESTAURANT,Bronx,3209,WESTCHESTER AVENUE,10461.0,7188924340,Pizza,06/21/2017,Violations were cited in the following area(s).,06D,"Food contact surface not properly washed, rinsed and sanitized after each use and following any ...",Critical,16,NaN,NaN,03/24/2022,Cycle Inspection / Initial Inspection,40.851761,-73.829569,210.0,13.0,30000.0,2047655.0,2.042450e+09,BX10,False,True,False

In [128]:
doh['PHONE'] = '+1'+doh['PHONE']

Of the 19,792 unique restaurants, 12,221 did not pass the intitial inspections at least once.

In [129]:
doh_grades = doh.groupby(['CAMIS'])['PHONE','BORO','BUILDING','STREET','ZIPCODE',
                                    'PHONE','CUISINE DESCRIPTION',
                                    'Latitude','Longitude','Community Board',
                                    'Council District','Census Tract',
                                    'A', 'B','C'].sum()

In [130]:
doh_grades

,ZIPCODE,Latitude,Longitude,Community Board,Council District,Census Tract,A,B,C
CAMIS,,,,,,,,,
30075445,83696.0,326.785850,-590.847775,1688.0,104.0,201600.0,1,7,0
30112340,56125.0,203.313258,-369.810407,1545.0,200.0,163500.0,5,0,0
30191841,50095.0,203.836629,-369.921552,520.0,15.0,69500.0,5,0,0
40356018,44896.0,162.319681,-295.928361,1252.0,188.0,139200.0,4,0,0
40356483,101106.0,365.581004,-665.162905,2862.0,414.0,630000.0,5,4,0
...,...,...,...,...,...,...,...,...,...
50115169,10002.0,40.714841,-73.991700,103.0,1.0,1600.0,1,0,0
50116155,33699.0,122.051758,-221.752145,948.0,123.0,111900.0,3,0,0
50117350,50090.0,203.762660,-369.947575,525.0,15.0,54500.0,5,0,0
50117434,79604.0,285.289075,-517.196049,2821.0,175.0,228900.0,0,0,7
50117959,30087.0,122.371566,-221.827553,333.0,24.0,51000.0,3,0,0

In [133]:
doh_grades[doh_grades['B'] > 0]

,ZIPCODE,Latitude,Longitude,Community Board,Council District,Census Tract,A,B,C
CAMIS,,,,,,,,,
30075445,83696.0,326.785850,-590.847775,1688.0,104.0,201600.0,1,7,0
40356483,101106.0,365.581004,-665.162905,2862.0,414.0,630000.0,5,4,0
40362264,70175.0,285.548344,-517.773967,749.0,42.0,126700.0,3,4,0
40362274,70084.0,285.080205,-517.982347,714.0,7.0,38507.0,1,6,0
40362715,230115.0,936.235858,-1702.198016,2323.0,23.0,16100.0,7,11,5
...,...,...,...,...,...,...,...,...,...
50111805,30042.0,122.195939,-222.011203,306.0,9.0,20100.0,0,3,0
50113198,40008.0,162.854183,-295.984590,412.0,4.0,3200.0,0,4,0
50113951,41820.0,163.249463,-295.613108,808.0,32.0,33200.0,0,4,0
50113984,30081.0,122.429129,-221.880270,327.0,21.0,60900.0,0,3,0
50114370,33639.0,121.993404,-221.794553,927.0,123.0,106500.0,0,3,0

Of the 19,792 unique restaurants, 9,978 failed an initial cycle inspection at least once.

In [132]:
doh_grades[doh_grades['C'] > 0]

,ZIPCODE,Latitude,Longitude,Community Board,Council District,Census Tract,A,B,C
CAMIS,,,,,,,,,
40360076,112180.0,406.433297,-739.781887,3120.0,390.0,496000.0,4,0,6
40362715,230115.0,936.235858,-1702.198016,2323.0,23.0,16100.0,7,11,5
40363630,200560.0,815.505622,-1479.131518,2160.0,100.0,280000.0,2,11,7
40364179,190475.0,775.226054,-1405.243039,2033.0,133.0,366700.0,3,5,11
40364362,120228.0,489.124894,-887.733038,1260.0,48.0,124800.0,3,3,6
...,...,...,...,...,...,...,...,...,...
50110216,79604.0,285.233461,-517.186091,2828.0,147.0,188307.0,0,0,7
50112974,70049.0,285.004311,-518.044896,707.0,7.0,14700.0,0,0,7
50113139,100926.0,365.433842,-665.981428,2799.0,423.0,259200.0,0,0,9
50113991,60162.0,244.858259,-443.760539,654.0,42.0,121800.0,0,0,6
50117434,79604.0,285.289075,-517.196049,2821.0,175.0,228900.0,0,0,7

Of the 19,792 unique restaurants, 5,648 severly failed an initial cycle inspection at least once and are at risk of being closed by the DOHMH.

In [134]:
doh.duplicated().sum()

11502

In [135]:
doh.drop_duplicates(inplace=True)

In [136]:
doh.shape

(174712, 29)

In [137]:
doh['SCORE'].isna().sum()

0

In [ ]:
doh['SCORE'].hist(bins=113, figsize=(12,8));

In [ ]:
doh['SCORE'].value_counts()

In [ ]:
doh['SCORE'].mean()

In [ ]:
doh['SCORE'].median()

In [ ]:
doh['SCORE'].mode()

In [ ]:
doh['GRADE'].isna().sum()

In [ ]:
doh['GRADE'].value_counts()

In [ ]:
doh.info()

In [ ]:
doh['INSPECTION DATE'] =  pd.to_datetime(doh['INSPECTION DATE'])

In [ ]:
# doh.pivot(columns=['CAMIS','INSPECTION DATE'],values='SCORE')

The New York Health Department inspects the approximately 27,000 restaurants within the city to monitor their compliance with food safety regulations. Inspectors observe how food is prepared, served and stored and whether restaurant workers are practicing good hygiene. They check food temperatures, equipment maintenance and pest control measures.

Calling API

In [ ]:
dohmh_df['score'].hist(bins='auto', figsize=(12,8));

In [ ]:
# # Take a look at duplicated records
# duplicates = df1.duplicated(subset=['camis'], keep=False)
# df1.loc[duplicates.loc[duplicates==True].index].sort_values(by='camis')

## Yelp API

In [8]:
with open('/Users/Rob/.secret/yelp_api.json') as f:
    creds = json.load(f)

In [9]:
creds.keys()

dict_keys(['api_key'])

In [10]:
#Business Search      
# url = 'https://api.yelp.com/v3/businesses/search'

#Business Match       
# url = 'https://api.yelp.com/v3/businesses/matches'

#Phone Search         
url = 'https://api.yelp.com/v3/businesses/search/phone'

#Business Details     
# url = 'https://api.yelp.com/v3/businesses/{id}'

#Business Reviews     
# url = 'https://api.yelp.com/v3/businesses/{id}/reviews'

In [ ]:
# #Business Search  
# headers = {
#     'Authorization': 'Bearer ' + creds['api_key']
#           }
# location = 'New York NY'
# SEARCH_LIMIT = 50

# url_params = {
#     'limit': SEARCH_LIMIT,
#     'location' : location.replace(' ','+'),
#     'offset': 0
#              }


# response = requests.get(url, headers=headers, params=url_params)
# print(response.status_code)

In [140]:
phones = list(top_doh['PHONE'])
phones

['+12129569488',
 '+17187087600',
 '+12128882288',
 '+12128882288',
 '+17182719222']

In [73]:
phone_numbers = set(doh['PHONE'])

In [74]:
len(phone_numbers)

18938

In [154]:
phone_numbers = list(phone_numbers)

In [155]:
phone_numbers1 = phone_numbers[1:1000]

In [199]:
phone_numbers2 = phone_numbers[1000:2000]

In [235]:
phone_numbers3 = phone_numbers[2000:2500]

In [236]:
phone_numbers4 = phone_numbers[2500:3500]

In [254]:
phone_numbers5 = phone_numbers[3500:5000]

In [298]:
phone_numbers6 = phone_numbers[5000:6000]

In [306]:
phone_numbers7 = phone_numbers[6000:7500]

In [317]:
phone_numbers8 = phone_numbers[7500:10000]

In [327]:
phone_numbers9 = phone_numbers[10000:12500]

In [338]:
phone_numbers10 = phone_numbers[12500:15000]

In [339]:
phone_numbers11 = phone_numbers[15000:17500]

In [341]:
phone_numbers12 = phone_numbers[17500:18940]

In [336]:
# Initialize empty list
biz_list10 = []

In [331]:
#Phone Search 
for number in phone_numbers9:
    url = 'https://api.yelp.com/v3/businesses/search/phone'
    headers = {'Authorization': 'Bearer ' + creds['api_key']}
    url_params = {'phone': number}
    response = requests.get(url, headers=headers, params=url_params)
    response_json = response.json()
    biz_list9.extend(response_json.get('businesses','U'))

In [332]:
while 'U' in biz_list9:
    biz_list9.remove('U')

In [334]:
biz9_df = pd.DataFrame(biz_list9)
biz9_df.to_csv('yelp_phones9.csv',index=False)
df = pd.read_csv('yelp_phones9.csv')
df

,id,alias,name,image_url,is_closed,url,review_count,categories,rating,coordinates,transactions,price,location,phone,display_phone
0,AiwRnZcVELiu_jO-6OAWcg,cooper-square-hotel-bar-new-york,Cooper Square Hotel Bar,https://s3-media0.fl.yelpcdn.com/bphoto/m7qkIhV-hwMgkh15IqwgCw/o.jpg,True,https://www.yelp.com/biz/cooper-square-hotel-bar-new-york?adjust_creative=82uXkAt1Tiw7u9_h33zr1A...,7,"[{'alias': 'bars', 'title': 'Bars'}]",4.5,"{'latitude': 40.727699, 'longitude': -73.990837}",[],$$$,"{'address1': '25 Cooper Square', 'address2': '', 'address3': '', 'city': 'New York', 'zip_code':...",12124755700,(212) 475-5700
1,bEb9i8NKD_wIzYFDtwNr5g,cooper-square-hotel-new-york,Cooper Square Hotel,https://s3-media0.fl.yelpcdn.com/bphoto/OYDtCS9d7X7UdYKqEcQ-9Q/o.jpg,True,https://www.yelp.com/biz/cooper-square-hotel-new-york?adjust_creative=82uXkAt1Tiw7u9_h33zr1A&utm...,49,"[{'alias': 'hotels', 'title': 'Hotels'}]",4.0,"{'latitude': 40.7278786, 'longitude': -73.9907608}",[],$$$,"{'address1': '25 Cooper Sq', 'address2': '', 'address3': '', 'city': 'New York', 'zip_code': '10...",12124755700,(212) 475-5700
2,VMGinfrQm6JQfGMUsDFBfg,the-standard-east-village-new-york,"The Standard, East Village",https://s3-media0.fl.yelpcdn.com/bphoto/aOEmCElDrEfk8fMx_BkT9w/o.jpg,False,https://www.yelp.com/biz/the-standard-east-village-new-york?adjust_creative=82uXkAt1Tiw7u9_h33zr...,214,"[{'alias': 'hotels', 'title': 'Hotels'}]",3.5,"{'latitude': 40.7278523436442, 'longitude': -73.9907492250947}",[],$$,"{'address1': '25 Cooper Sq', 'address2': '', 'address3': '', 'city': 'New York', 'zip_code': '10...",12124755700,(212) 475-5700
3,2Edq66lsiO17FSAVAlVVkA,café-standard-new-york-2,Café Standard,https://s3-media0.fl.yelpcdn.com/bphoto/ZIFHt7tODjjEbdSM4UN2ZA/o.jpg,False,https://www.yelp.com/biz/caf%C3%A9-standard-new-york-2?adjust_creative=82uXkAt1Tiw7u9_h33zr1A&ut...,95,"[{'alias': 'newamerican', 'title': 'American (New)'}, {'alias': 'bars', 'title': 'Bars'}, {'alia...",3.5,"{'latitude': 40.727844, 'longitude': -73.990739}",['delivery'],$$,"{'address1': '25 Cooper Sq', 'address2': '', 'address3': '', 'city': 'New York', 'zip_code': '10...",12124755700,(212) 475-5700
4,c1JiJmoldv_kXa-wXt5_RA,the-second-floor-bar-new-york,The Second Floor Bar,https://s3-media0.fl.yelpcdn.com/bphoto/O6jkZOKs13GCvKGcPDudJQ/o.jpg,True,https://www.yelp.com/biz/the-second-floor-bar-new-york?adjust_creative=82uXkAt1Tiw7u9_h33zr1A&ut...,12,"[{'alias': 'lounges', 'title': 'Lounges'}]",3.5,"{'latitude': 40.727931, 'longitude': -73.990786}",[],$$$,"{'address1': '25 Cooper Sq', 'address2': '', 'address3': 'The Cooper Square Hotel', 'city': 'New...",12124755700,(212) 475-5700
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2171,t7nd5Po9u5DoBjw2aazgRg,bella-napoli-pizzeria-bronx,Bella Napoli Pizzeria,https://s3-media0.fl.yelpcdn.com/bphoto/pA9-ML8v4UO9bq1CvqdEAw/o.jpg,False,https://www.yelp.com/biz/bella-napoli-pizzeria-bronx?adjust_creative=82uXkAt1Tiw7u9_h33zr1A&utm_...,51,"[{'alias': 'pizza', 'title': 'Pizza'}, {'alias': 'seafood', 'title': 'Seafood'}, {'alias': 'dess...",4.0,"{'latitude': 40.9010966, 'longitude': -73.8620706}","['delivery', 'pickup']",$$,"{'address1': '524 E 240th St', 'address2': '', 'address3': '', 'city': 'Bronx', 'zip_code': '104...",17183252177,(718) 325-2177
2172,uWvId20JfT0R9Jz-9f1dIw,veritable-new-york,Veritable,https://s3-media0.fl.yelpcdn.com/bphoto/bREmHySRlNiVZ-Q85wRZ6Q/o.jpg,False,https://www.yelp.com/biz/veritable-new-york?adjust_creative=82uXkAt1Tiw7u9_h33zr1A&utm_campaign=...,95,"[{'alias': 'sandwiches', 'title': 'Sandwiches'}, {'alias': 'comfortfood', 'title': 'Comfort Food...",3.5,"{'latitude': 40.763313, 'longitude': -73.962627}","['pickup', 'delivery']",$,"{'address1': '1201 2nd Ave', 'address2': '', 'address3': None, 'city': 'New York', 'zip_code': '...",12127530600,(212) 753-0600
2173,iFvDZ-vNGbeAbpFaMnhW2A,nowhere-new-york,Nowhere,https://s3-media0.fl.yelpcdn.com/bphoto/5HwmgU6FfoJs20u7DyTdIQ/o.jpg,False,https://www.yelp.com/biz/nowhere-new-york?adjust_creative=82uXkAt1Tiw7u9_h33zr1A&utm_campaign=ye...,144,"[{'alias': 'gaybars', 'title': 'Gay Bars'}]",3.5,"{'latitude': 40.73171, 'longitude': -73.98417}",[],$,"{'address1': '322 E 14th St', 'address2': '', 'address3': '', 'city': 'New York', 'zip_code': '1...",12124774744,(212) 477-4744
2174,whVaI4qtx4Fseff5owxOaw,hampton-inn-manhattan-times-square-central-new-york,Hampton Inn Manhattan/Times Square Central,https://s3-media0.fl.yelpcdn.com/bphoto/zKmx3D8zsyO4WX5gON4j6A/o.jpg,False,https://www.yelp.com/biz/hampton-inn-manhattan-times-square-central-new-york?adjust_creative=82u...,113,"[{'alias': 'hotels', 'title': 'Hotels'}]",3.5,"{'latitude': 40.755607071741345, 'longitude': -73.98866325616837}",[],$$,"{'address1': '220 West 41st St', 'address2': '', 'address3': '', 'city': 'New York', 'zip_code':...",12122211188,(212) 221-1188
2175,G65jVYSAYE-74TCcnU2n8A,el-nuevo-portal-brooklyn,El Nuevo Portal,https://s3-media0.fl.yelpcdn.com/bphoto/q7r1QpqiLdjV1Qb4KQFl1Q/o.jpg,False,https://www.yelp.com/biz/el-nuevo-portal-brooklyn?adjust_creative=82uXkAt1Tiw7u9_h33zr1A&utm_cam...,141,"[{'alias': 'latin', 'title': 'Latin American'}, {'alias': 'spanish', 'title': 'Spanish'}]",4.0,"{'latitude': 40.6844032, 'longitude': -73.9918238}","['delivery', 'pickup']",$,"{'address1': '217 Smith St', 'address2': '', 'address3': '', 'city': 'Brooklyn', 'zip_code': '11...",17182461416,(718) 246-1416

In [221]:
df_1 = pd.read_csv('yelp_phone1.csv')

In [223]:
df_2 = pd.read_csv('yelp_phone2.csv')

In [229]:
df_3 = pd.read_csv('yelp_phone3.csv')

In [311]:
df_4 = pd.read_csv('yelp_phone4.csv')

In [312]:
df_5 = pd.read_csv('yelp_phone5.csv')

In [313]:
df_6 = pd.read_csv('yelp_phone6.csv')

In [314]:
df_7 = pd.read_csv('yelp_phone7.csv')

In [359]:
df_8 = pd.read_csv('yelp_phone8.csv')

In [360]:
df_9 = pd.read_csv('yelp_phone9.csv')

In [229]:
df_9 = pd.read_csv('yelp_phone9.csv')

In [229]:
df_9 = pd.read_csv('yelp_phone9.csv')

In [229]:
df_9 = pd.read_csv('yelp_phone9.csv')

In [375]:
yelp_df = pd.concat([df_1,df_2,df_3,df_4,df_5,df_6,df_7,df_8,df_9],ignore_index=True)

In [ ]:
# def prepare_data(data_list):
#     """
#     This function takes in a list of dictionaries and prepares it
#     for analysis
#     """
    
#     # Make a new list to hold results
#     results = []
    
#     for business_data in data_list:
    
#         # Make a new dictionary to hold prepared data for this business
#         prepared_data = {}
        
#         # Extract name, review_count, rating, and price key-value pairs
#         # from business_data and add to prepared_data
#         # If a key is not present in business_data, add it to prepared_data
#         # with an associated value of None
#         for key in ("name", "review_count", "rating", "price"):
#             prepared_data[key] = business_data.get(key, None)
    
#         # Parse and add latitude and longitude columns
#         coordinates = business_data["coordinates"]
#         prepared_data["latitude"] = coordinates["latitude"]
#         prepared_data["longitude"] = coordinates["longitude"]
        
#         # Add to list if all values are present
#         if all(prepared_data.values()):
#             results.append(prepared_data)
    
#     return results
    
# # Test out function
# prepared_businesses = prepare_data(businesses)
# prepared_businesses[:5]

In [ ]:
# lat = []
# long = []

# for _,business in yelp_df.iterrows():
#     lat.append(business['coordinates']['latitude'])
#     long.append(business['coordinates']['longitude'])

# yelp_df['lat'] = lat
# yelp_df['long'] = long

## Getting Yelp Reviews

In [365]:
#Review Search 
yelp_id = 'fEsgUESZxOQtd4YEmAUuow'
url = f'https://api.yelp.com/v3/businesses/{yelp_id}/reviews'
headers = {'Authorization': 'Bearer ' + creds['api_key']}
response = requests.get(url, headers=headers)
response_json = response.json()
response_json

{'reviews': [{'id': '3hXVb3qfwkpNYoVs3_9_QA',
   'url': 'https://www.yelp.com/biz/ii-caffe-latte-2-new-york-4?adjust_creative=82uXkAt1Tiw7u9_h33zr1A&hrid=3hXVb3qfwkpNYoVs3_9_QA&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_reviews&utm_source=82uXkAt1Tiw7u9_h33zr1A',
   'text': 'Met my bestie for a warm beverage yesterday and we ended up here at Caffe Latte. Immediately upon entering, the lady working there let us know that the...',
   'rating': 5,
   'time_created': '2020-03-15 06:15:11',
   'user': {'id': 'KJd4Ey6_spwKIX0oq3CjQw',
    'profile_url': 'https://www.yelp.com/user_details?userid=KJd4Ey6_spwKIX0oq3CjQw',
    'image_url': 'https://s3-media3.fl.yelpcdn.com/photo/DbTi7vDMa5PUndu-CdP54A/o.jpg',
    'name': 'Salisha T.'}},
  {'id': 'ONoRuoJtZXfo1rXs8GlGFA',
   'url': 'https://www.yelp.com/biz/ii-caffe-latte-2-new-york-4?adjust_creative=82uXkAt1Tiw7u9_h33zr1A&hrid=ONoRuoJtZXfo1rXs8GlGFA&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_reviews&utm_source=82uXkAt1Tiw7u9_h33zr1A',
   'text': "Walked in to check out their menu. Person working there didn't acknowledge me. I guess the dishes were more important than my patronage. Place was empty so...",
   'rating': 1,
   'time_created': '2021-10-24 14:53:53',
   'user': {'id': 'm-YCck86Jp7hzgswZDezgw',
    'profile_url': 'https://www.yelp.com/user_details?userid=m-YCck86Jp7hzgswZDezgw',
    'image_url': 'https://s3-media1.fl.yelpcdn.com/photo/Ut474DCzE16ALtL_lEXTYg/o.jpg',
    'name': 'Tangerine L.'}},
  {'id': 'Y2kV33dCd9RBZ0WrrY6-DQ',
   'url': 'https://www.yelp.com/biz/ii-caffe-latte-2-new-york-4?adjust_creative=82uXkAt1Tiw7u9_h33zr1A&hrid=Y2kV33dCd9RBZ0WrrY6-DQ&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_reviews&utm_source=82uXkAt1Tiw7u9_h33zr1A',
   'text': "I've been to this location twice and each time the service , the food and the atmosphere has CHANGED MY LIFE. I had the black Ink ravioli and my long time...",
   'rating': 5,
   'time_created': '2021-03-24 15:18:29',
   'user': {'id': 'zHGwvcogwOgDGzJsggjf0g',
    'profile_url': 'https://www.yelp.com/user_details?userid=zHGwvcogwOgDGzJsggjf0g',
    'image_url': 'https://s3-media3.fl.yelpcdn.com/photo/djVGPAjOPVZEFogzXEG07w/o.jpg',
    'name': 'Malik c.'}}],
 'total': 127,
 'possible_languages': ['en', 'de']}

In [382]:
review_corp = []

for review in response_json.get('reviews'):
    review_corp.append(review['text'])

In [366]:
yelp_id

'fEsgUESZxOQtd4YEmAUuow'

In [386]:
review_corp = ''.join(review_corp)

In [383]:
dict_test = {'yelp_id' : yelp_id, 'review_text' : review_corp}
df_test = pd.DataFrame(dict_test)
df_test

,yelp_id,review_text
0,fEsgUESZxOQtd4YEmAUuow,Met my bestie for a warm beverage yesterday and we ended up here at Caffe Latte. Immediately upo...
1,fEsgUESZxOQtd4YEmAUuow,Walked in to check out their menu. Person working there didn't acknowledge me. I guess the dishe...
2,fEsgUESZxOQtd4YEmAUuow,"I've been to this location twice and each time the service , the food and the atmosphere has CHA..."

In [324]:
review_df = pd.DataFrame(response_json.get('reviews'))
review_df

,id,url,text,rating,time_created,user
0,3hXVb3qfwkpNYoVs3_9_QA,https://www.yelp.com/biz/ii-caffe-latte-2-new-york-4?adjust_creative=82uXkAt1Tiw7u9_h33zr1A&hrid...,Met my bestie for a warm beverage yesterday and we ended up here at Caffe Latte. Immediately upo...,5,2020-03-15 06:15:11,"{'id': 'KJd4Ey6_spwKIX0oq3CjQw', 'profile_url': 'https://www.yelp.com/user_details?userid=KJd4Ey..."
1,ONoRuoJtZXfo1rXs8GlGFA,https://www.yelp.com/biz/ii-caffe-latte-2-new-york-4?adjust_creative=82uXkAt1Tiw7u9_h33zr1A&hrid...,Walked in to check out their menu. Person working there didn't acknowledge me. I guess the dishe...,1,2021-10-24 14:53:53,"{'id': 'm-YCck86Jp7hzgswZDezgw', 'profile_url': 'https://www.yelp.com/user_details?userid=m-YCck..."
2,Y2kV33dCd9RBZ0WrrY6-DQ,https://www.yelp.com/biz/ii-caffe-latte-2-new-york-4?adjust_creative=82uXkAt1Tiw7u9_h33zr1A&hrid...,"I've been to this location twice and each time the service , the food and the atmosphere has CHA...",5,2021-03-24 15:18:29,"{'id': 'zHGwvcogwOgDGzJsggjf0g', 'profile_url': 'https://www.yelp.com/user_details?userid=zHGwvc..."

# Data Understanding

For this project there will be two sources and types of data used:

* Historical health and hygiene inspections recorded by New York City Department of Health and Mental Hygiene (DOHMH) public health inspectors
* User generated Yelp business ratings and reviews

## Understanding NYC DOHMH Data

This dataset contains over 330,000 records, let's explore its contents.

In [ ]:
dohmh_df['inspection_date'] =  pd.to_datetime(dohmh_inspections['inspection_date'])

In [ ]:
dohmh_df['inspection_date'].min()

In [ ]:
dohmh_df['inspection_date'].max()

Inspections in this dataset range from May 2008 up to present day.

In [ ]:
# dohmh_df.set_index('inspection_date')

In [ ]:
dohmh_df['boro'].value_counts()

In [ ]:
dohmh_df['score'].value_counts()

In [ ]:
dohmh_df['score'].isna().sum()

In [ ]:
dohmh_df['grade'].value_counts()

In [ ]:
dohmh_df['grade'].value_counts(normalize=True)

In [ ]:
dohmh_df['grade'].isna().sum()

In [ ]:
dohmh_df['critical_flag'].value_counts()

Critical violations are those most likely to contribute to foodborne illness

In [ ]:
dohmh_df['critical_flag'].value_counts(normalize=True)

In [ ]:
dohmh_df['inspection_type'].value_counts()

In [ ]:
dohmh_inspections = dohmh_df[(dohmh_df['inspection_type'] ==
                              'Cycle Inspection / Initial Inspection') | (dohmh_df['inspection_type'] ==
                              'Cycle Inspection / Re-inspection')]

In [ ]:
dohmh_inspections['critical_flag'].value_counts()

In [ ]:
# Drop records with NA critical_flag

dohmh_ohe = dohmh_inspections[dohmh_inspections['critical_flag'] != 'Not Applicable']

In [ ]:
dohmh_ohe = pd.get_dummies(dohmh_inspections,columns=['critical_flag'])

In [ ]:
dohmh_ohe.head(2)

In [ ]:
critical_flags = dohmh_ohe.groupby(['camis'])['critical_flag_Critical'].count()

In [ ]:
critical_flags[critical_flagss]

In [ ]:
critical_flags['critical_flag_Not Critical'].sum()

In [ ]:
non_critical_flags = dohmh_ohe.groupby(['camis'])

In [ ]:
dohmh_inspections.duplicated().sum()

In [ ]:
dohmh_inspections.loc[dohmh_inspections.duplicated(keep='first'),:]

In [ ]:
dohmh_inspections.drop_duplicates().shape

In [ ]:
dohmh_inspections.duplicated(subset=['camis']).sum()

In [ ]:
dohmh_inspections['camis'].nunique()

There are approximately 28,000 restaurants that have been inspected by the DOHMH. Let's check out how many have ever been flagged for a critical violation.

## Mapping with Follium